<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoyu.aip.text.dao.impl.mybatis.TextInfoFileMapper">
	<resultMap id="BaseResultMap" type="com.haoyu.aip.text.entity.TextInfoFile">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="SUMMARY" jdbcType="VARCHAR" property="summary" />
		<result column="TEXT_INFO_ID" jdbcType="VARCHAR" property="textInfo.id" />
		<result column="URL" jdbcType="VARCHAR" property="url" />
		<result column="FILE_NUM" jdbcType="DECIMAL" property="fileNum" />
		<result column="CREATOR" jdbcType="VARCHAR" property="creator.id" />
		<result column="CREATE_TIME" jdbcType="DECIMAL" property="createTime" />
		<result column="UPDATEDBY" jdbcType="VARCHAR" property="updatedby.id" />
		<result column="UPDATE_TIME" jdbcType="DECIMAL" property="updateTime" />
		<result column="VERSION" jdbcType="DECIMAL" property="version" />
		<result column="IS_DELETED" jdbcType="CHAR" property="isDeleted" />
		
		<result column="FILE_NAME" jdbcType="VARCHAR" property="fileInfo.fileName" />
		<result column="FILE_INFO_ID" jdbcType="VARCHAR" property="fileInfo.id" />
	</resultMap>
	<sql id="BaseSelectSql">
		select TIF.ID, TIF.NAME, TIF.SUMMARY, TIF.TEXT_INFO_ID, TIF.URL, TIF.FILE_NUM, TIF.CREATOR, TIF.CREATE_TIME,
		FI.FILE_NAME, FI.ID FILE_INFO_ID
		from TEXT_INFO_FILE TIF
		left join FILE_RELATION FR
		on FR.RELATION_ID = TIF.ID
		and FR.IS_DELETED = 'N'
		left join FILE_INFO FI
		on FI.ID = FR.FILE_ID
		and FI.IS_DELETED = 'N'
	</sql>
	<sql id="BaseWhereSql">
		<choose>
			<when test="isDeleted != null and isDeleted != ''">
				where TIF.IS_DELETED = #{isDeleted}
			</when>
			<otherwise>
				where TIF.IS_DELETED = 'N'
			</otherwise>
		</choose>
		<if test="textInfoId != null and textInfoId != ''">
			and TIF.TEXT_INFO_ID = #{textInfoId}
		</if>
	</sql>
	<select id="select" parameterType="map" resultMap="BaseResultMap">
		<include refid="BaseSelectSql" />
		<include refid="BaseWhereSql" />
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		<include refid="BaseSelectSql" />
		where TIF.ID = #{id,jdbcType=VARCHAR}
	</select>
	<insert id="insert" parameterType="com.haoyu.aip.text.entity.TextInfoFile">
		insert into TEXT_INFO_FILE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="summary != null">
				SUMMARY,
			</if>
			<if test="textInfo != null and textInfo.id != null">
				TEXT_INFO_ID,
			</if>
			<if test="url != null">
				URL,
			</if>
			<if test="fileNum != null">
				FILE_NUM,
			</if>
			<if test="creator != null">
				CREATOR,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="version != null">
				VERSION,
			</if>
			<if test="isDeleted != null">
				IS_DELETED,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="summary != null">
				#{summary,jdbcType=VARCHAR},
			</if>
			<if test="textInfo != null and textInfo.id != null">
				#{textInfo.id,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="fileNum != null">
				#{fileNum,jdbcType=DECIMAL},
			</if>
			<if test="creator != null">
				#{creator.id,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=DECIMAL},
			</if>
			<if test="version != null">
				#{version,jdbcType=DECIMAL},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.haoyu.aip.text.entity.TextInfoFile">
		update TEXT_INFO_FILE
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="summary != null">
				SUMMARY = #{summary,jdbcType=VARCHAR},
			</if>
			<if test="textInfo != null and textInfo.id != null">
				TEXT_INFO_ID = #{textInfo.id,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				URL = #{url,jdbcType=VARCHAR},
			</if>
			<if test="fileNum != null">
				FILE_NUM = #{fileNum,jdbcType=DECIMAL},
			</if>
			<if test="updatedby != null">
				UPDATEDBY = #{updatedby.id,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=DECIMAL},
			</if>
			<if test="version != null">
				VERSION = #{version,jdbcType=DECIMAL},
			</if>
			<if test="isDeleted != null">
				IS_DELETED = #{isDeleted,jdbcType=CHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="deleteByLogic" parameterType="com.haoyu.aip.text.entity.TextInfoFile">
		update TEXT_INFO_FILE
		set IS_DELETED = 'Y', UPDATE_TIME = #{updateTime,jdbcType=DECIMAL}
		<if test="updatedby != null and updatedby.id != null and updatedby.id != ''">
			,UPDATEDBY = #{updatedby.id,jdgcType=VARCHAR}
		</if>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="deleteByIds" parameterType="map">
		update TEXT_INFO_FILE
		set IS_DELETED = 'Y', UPDATE_TIME = #{entity.updateTime,jdbcType=DECIMAL}
		<if test="entity != null">
			<if test="entity.updatedby != null">
				,UPDATEDBY = #{entity.updatedby.id,jdbcType=VARCHAR}
			</if>
		</if>
		where ID in 
		<foreach collection="ids" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
	</update>
</mapper>