<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haoyu.aip.lessonplan.dao.impl.mybatis.LessonPlanUserMapper">
	<resultMap id="BaseResultMap" type="com.haoyu.aip.lessonplan.entity.LessonPlanUser">
		<result column="ID" property="id" jdbcType="VARCHAR" />
		<result column="LESSON_PLAN_RELATION_ID" property="lessonPlanRelation.id" jdbcType="VARCHAR" />
		<result column="STATE" property="state" jdbcType="VARCHAR" />
	</resultMap>
	<insert id="insert" parameterType="com.haoyu.aip.lessonplan.entity.LessonPlanUser">
		insert into LESSON_PLAN_USER
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="lessonPlanRelation != null">
				LESSON_PLAN_RELATION_ID,
			</if>
			<if test="state != null">
				STATE,
			</if>
			<if test="creator != null">
				CREATOR,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="updatedby != null">
				UPDATEDBY,
			</if>
			<if test="updateTime != null">
				UPDATE_TIME,
			</if>
			<if test="version != null">
				VERSION,
			</if>
			<if test="isDeleted != null">
				IS_DELETED,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="lessonPlanRelation != null">
				#{lessonPlanRelation.id,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator.id,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=INTEGER},
			</if>
			<if test="updatedby != null">
				#{updatedby.id,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=DATE},
			</if>
			<if test="version != null">
				#{version,jdbcType=DECIMAL},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<delete id="deleteByPhysics" parameterType="string">
		delete from LESSON_PLAN_USER
		where ID = #{id, jdbcType=VARCHAR}
	</delete>
</mapper>